@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	var homePage = CurrentPage.Site();
	var settings = homePage.FirstChild("Settings");
}

<div class="c-cover-wrap clearfix">
	<section class="c-cover__main c-cover">
		@if( CurrentPage.HasValue("coverPicker") && CurrentPage.coverPicker.ToString() != "" && Umbraco.Content(CurrentPage.coverPicker).Name.ToString() != "" )
		{
			var slide = Umbraco.Content(CurrentPage.coverPicker);
			string docType = slide.DocumentTypeAlias;

			switch(docType)
			{
				case "CoverAnnouncement":
					@CoverAnnouncement(slide)
				break;
				case "SampleEvent":
					@SampleEvent(slide)
				break;
				default:
					@Default(slide)
				break;
			}
	
		} else {
			<div class="c-cover__image--wrap">
				<img class="c-cover__image" src="/assets/img/_temp/cover.jpg" alt=""/>
			</div>
			<div class="c-cover__content-wrap">
				<div class="c-cover__content">
					<span class="c-cover-info--category">Fallback</span>
					<h3 class="c-cover__heading c-cover__heading--news giga">Fallback</h3>
					<span class="c-cover-info--date">Fallback</span>
					<button class="o-button o-button--primary">Fallback</button>				
				</div>

			</div>		
		}

	</section>
	<section class="c-cover__aside">
		@Html.Partial("Component/Cover-Aside")
	</section>
</div>


@helper CoverAnnouncement(dynamic node)
{
	var slide = node;
	<div class="c-cover__image--wrap">
		@if( slide.HasValue("backgroundImage") )
		{
			<img class="c-cover__image" src="@Umbraco.Media(slide.backgroundImage).Url" alt=""/>				
		}

	</div>
	<div class="c-cover__content-wrap">
		<div class="c-cover__content">
			@if( slide.HasValue("mainLabel") )
			{
				<span class="c-cover-info--category">@slide.mainLabel</span>
			}
			@if( slide.HasValue("title") )
			{
				<h3 class="c-cover__heading c-cover__heading--news giga">@slide.title</h3>
			}
			@if( slide.HasValue("secondaryLabel") )
			{
				<span class="c-cover-info--date">@slide.secondaryLabel</span>
			}
			@if( slide.HasValue("link") )
			{
				<a href="@slide.link.url" class="o-button o-button--primary" target="@slide.link.target">
					@if( slide.HasValue("buttonText") )
					{
						<span>@slide.buttonText</span>
					}
					else
					{
						<span>@slide.link.name</span>
					}

				</a>		
			}
		</div>

	</div>	
}

@helper SampleEvent(dynamic node)
{
	var slide = node;
	var category = slide.Parent().Name;
	var title = slide.title;
	var date = "23 Sep - 3 Oct";
	<div class="c-cover__image--wrap">
		@if( slide.HasValue("coverImage") )
		{
			<img class="c-cover__image" src="@Umbraco.Media(slide.coverImage).Url" alt=""/>				
		}

	</div>
	<div class="c-cover__content-wrap">
		<div class="c-cover__content">
			<span class="c-cover-info--category">@category</span>
			<h3 class="c-cover__heading c-cover__heading--news giga">@title</h3>
			<span class="c-cover-info--date">@date</span>
			<a href="@slide.Url#tickets" class="o-button o-button--primary">
				Buy tickets 
			</a>		
	
		</div>

	</div>	
}

@helper Default(dynamic node)
{

}