@inherits UmbracoViewPage<CardViewModel>
@{
	var image = Umbraco.TypedMedia(Model.ImageId);
	var hasPrimaryUrl = !String.IsNullOrWhiteSpace(Model.PrimaryButtonUrl);

	var hasButtons = false;

	if (hasPrimaryUrl && !String.IsNullOrWhiteSpace(Model.PrimaryButtonText)) {
		hasButtons = true;
	} else if (!String.IsNullOrWhiteSpace(Model.SecondaryButtonUrl) && !String.IsNullOrWhiteSpace(Model.SecondaryButtonText)) {
		hasButtons = true;
	}
}

<article class="c-slide @Model.ModifierClass">
	<div class="c-slide__image-wrap">
		@if( image != null )
		{
			var imageUrl = image.GetCropUrl("umbracoFile", "square");
			<img class="c-slide__image" src="@imageUrl" alt="@Model.Headline"/>
		}
	</div>
	<div class="c-slide__content clearfix">
		<div class="c-slide__content-inner">
			@*
			@if (!String.IsNullOrWhiteSpace(Model.Suptitle)) {
				<div class="c-slide__suptitle">@Html.Raw(Model.Suptitle)</div>
			}
			*@
			@if (!String.IsNullOrWhiteSpace(Model.Headline)) {
				<h3 class="c-slide__headline alpha">@Model.Headline</h3>
			}
			@if (!String.IsNullOrWhiteSpace(Model.Subtitle)) {
				<div class="c-slide__subtitle">@Html.Raw(Model.Subtitle)</div>
			}
		</div>
		@if (!Model.IsSimpleCard) {
			<div class="c-slide__actions">
				@if (hasPrimaryUrl && !String.IsNullOrWhiteSpace(Model.PrimaryButtonText)) {
					if (Model.IsPrimaryButtonUrlExternal) {
						<a href="@Model.PrimaryButtonUrl" class="o-button o-button--small o-button--primary c-slide__button" target="_blank" rel="nofollow">@Model.PrimaryButtonText</a>
					} else {
						<a href="@Model.PrimaryButtonUrl" class="o-button o-button--small o-button--primary c-slide__button">@Model.PrimaryButtonText</a>
					}
				}
				@if (!String.IsNullOrWhiteSpace(Model.SecondaryButtonUrl) && !String.IsNullOrWhiteSpace(Model.SecondaryButtonText)) {
					if (Model.IsSecondaryButtonUrlExternal) {
						<a href="@Model.SecondaryButtonUrl" class="o-button o-button--small o-button--primary c-slide__button" target="_blank" rel="nofollow">@Model.SecondaryButtonText</a>
					} else {
						<a href="@Model.SecondaryButtonUrl" class="o-button o-button--small o-button--primary c-slide__button">@Model.SecondaryButtonText</a>
					}
				}
			</div>
		}
	</div>
	@if (!String.IsNullOrWhiteSpace(Model.Url)) {
		if (Model.IsUrlExternal) {
			<a href="@Model.Url" class="c-slide__link" target="_blank" rel="nofollow"></a>
		} else {
			<a href="@Model.Url" class="c-slide__link"></a>
		}
	}
</article>
