@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{

    Layout = "Master.cshtml";
	var homePage = CurrentPage.Site();
	var settings = homePage.FirstChild("Settings");

	var hasHero = CurrentPage.HasValue("coverImage") ? Umbraco.Media(CurrentPage.coverImage) != null : false;
	var wrapModifier = hasHero ? "o-section--bottom" : "";
}

<div class="c-show @wrapModifier">
	@if (hasHero) {
		@Html.Partial("~/Views/Partials/Events/EventHero.cshtml")
	} else {
		<div class="o-section o-section--grey">
			<div class="o-wrap o-wrap--large">
				@Html.Partial("~/Views/Partials/Events/EventHeading.cshtml")
			</div>
		</div>
	}
	@Html.Partial("~/Views/Partials/Component/Show-Navigation.cshtml")
	@Html.Partial("~/Views/Partials/Events/EventIntro.cshtml")

	@if( CurrentPage.HasValue("pageBlocks") ) {
		@Html.Partial("~/Views/Partials/Component/Show-Blocks.cshtml")
	}
	@Html.Partial("~/Views/Partials/Component/Tickets.cshtml")
</div>


@section OpenGraph{
	@*

	For a custom page like Event, Product, Post add cards to make sharing better experience;

	<meta name="twitter:card" content="">
	<meta name="twitter:site" content="">
	<meta name="twitter:label1" content="">
	<meta name="twitter:data1" content="">
	<meta name="twitter:label2" content="">
	<meta name="twitter:data2" content="">

	*@
}


@section Scripts{

}
