@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
	var homePage = CurrentPage.Site();
	var settings = homePage.FirstChild("Settings");
	var link = settings.directionsLink;
	var zoomLevel = settings.map.Zoom;
}

<section>
	<h2 class="hide-text">What's new</h2>
	<div class="o-card-block clearfix">
		@for( var ii = 0; ii < 8; ii++)
		{
			var imageLink = "/assets/img/_temp/" + ii + ".jpg";
			var title = "Condimentum Cras";
			if( ii == 2 || ii == 5 || ii == 1 )
			{
				title = "Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.";
			}
			if( ii == 2 || ii == 5 )
			{
				<article class="o-card o-card--news">
					<div class="o-card__image--wrap">
						@* <img class="o-card__image" src="" alt=""/> *@
					</div>
					<div class="o-card__content">
						<span class="o-card-info--category o-card-info--category--news">Comedy</span>
						<h3 class="o-card__heading o-card__heading--news">@Truncate(title, 45)</h3>
						<span class="o-card-info--date o-card-info--date--news">@ii Sep</span>
						<button class="o-button o-button--small o-button--transparent">Read more</button>
					</div>
					
				</article>	
			} 
			else 
			{
				<article class="o-card o-card--event">
					<div class="o-card__image--wrap">
						<img class="o-card__image" src="@imageLink" alt=""/>
					</div>
					<div class="o-card__content">
						<span class="o-card-info--category o-card-info--category--event">Comedy</span>
						<h3 class="o-card__heading o-card__heading--event">@Truncate(title, 30)</h3>
						<span class="o-card-info--date o-card-info--date--event">@ii Sep</span>
						<button class="o-button o-button--small o-button--transparent">Buy tickets</button>
						<button class="o-button o-button--small o-button--transparent">More info</button>
					</div>
					
				</article>			
			}
		}
	</div>
</section>

@helper Truncate (string input, int length)
{
    if( input.Length<=length )
    {
        @Html.Raw(input)
    }
    else{
        @Html.Raw( input.Substring( 0,length ) )<text>...</text>
    }
}

@section Scripts{
	@* 

		Update map both on home and contact pages!

	*@
	<script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>

	<script type="text/javascript">
		
		function initialize() {
			var mapOptions = {
				center: new google.maps.LatLng(@settings.map),
	   			panControl: true,
	    		zoomControl: true,
	    		scaleControl: true,
				zoom: @zoomLevel,
				disableDefaultUI: true,
				scrollwheel: false,
				draggable: false
			};
				
			var map = new google.maps.Map(document.getElementById("google-map"), mapOptions);
			var contentString = '<h4>Watford Palace Theatre</h4><a href="@link" target="_blank">Click here to see full map</a>';

			var infowindow = new google.maps.InfoWindow({
				content: contentString
			});
			
			var image = '/assets/img/map-marker.png';
			var marker = new google.maps.Marker({
				position: new google.maps.LatLng(@settings.map),
				map: map,
				title: 'Pompey Centre',
				icon: image
			});	
			
			
			google.maps.event.addListener(marker, 'click', function() {
				infowindow.open(map,marker);
			});
			
				
			google.maps.event.addDomListener(window, "resize", function() {
				var center = map.getCenter();
				google.maps.event.trigger(map, "resize");
				map.setCenter(center); 
			});
		}
				
		//Google maps listener
		google.maps.event.addDomListener(window, 'load', initialize);
				
		
	</script>
}
