@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "MasterNews.cshtml";
	var homePage = CurrentPage.Site();
	var settings = homePage.FirstChild("Settings");

}

<section class="o-wrap o-section o-wrap--medium">
	<h1>@CurrentPage.Name</h1>
	@if( CurrentPage.HasValue("coverImage") ){
		<img class="o-news-header" src="@Umbraco.Media(CurrentPage.coverImage.ToString()).GetCropUrl("umbracoFile", "open-graph")" alt="@CurrentPage.Name"/>
	}
	
	<span class="o-news-date">@CurrentPage.releaseDate.ToString("d MMMM yyyy")</span>
	<p class="o-news=excerpt"><strong>@CurrentPage.postExcerpt</strong></p>
	@CurrentPage.bodyText
</section>

@* @section OpenGraph{
	

	For a custom page like Event, Product, Post add cards to make sharing better experience;

	<meta name="twitter:card" content="">
	<meta name="twitter:site" content="">
	<meta name="twitter:label1" content="">
	<meta name="twitter:data1" content="">
	<meta name="twitter:label2" content="">
	<meta name="twitter:data2" content="">

	
}

	
@section Scripts{

} *@