@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}<?xml version="1.0" encoding="UTF-8"?>
@{
	umbraco.library.ChangeContentType("text/xml");		
	var siteURL = "http://" +  Request.Url.Host.ToString();
	
	var homePage = CurrentPage.Site();
	var settings = homePage.FirstChild("Settings");
	var blog = homePage.FirstChild("BlogFolder");
	
	var articles = CurrentPage.Parent().PostsFolders.First().Posts.Where("Visible");
}	
	<rss version="2.0">
		<channel>
			<title>@blog.Name | @settings.SiteName</title>
			@Html.Raw("<link>")@siteURL@Html.Raw("</link>")
			<description>@blog.description</description>
			<pubDate>@String.Format("{0:ddd, dd MMM yyyy HH:mm:ss}", @CurrentPage.CreateDate)</pubDate>
			<lastBuildDate>@String.Format("{0:ddd, dd MMM yyyy HH:mm:ss}", DateTime.Now)</lastBuildDate>
			<language>en</language>
			<generator>Umbraco</generator>		
			@foreach(var article in articles) {
				<item>
					<title>@if(article.HasValue("title")){@article.title}else{@article.Name}</title>
					@Html.Raw("<link>")@siteURL@article.Url@Html.Raw("</link>")
					<description>@Umbraco.StripHtml(article.intro)</description>
					<pubDate>@String.Format("{0:ddd, dd MMM yyyy} {1:HH:mm:ss}", @article.date, @article.CreateDate)</pubDate>
				</item>
			}
		</channel>
	</rss>