@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	
    Layout = "Master.cshtml";
	var homePage = CurrentPage.Site();
	var settings = homePage.FirstChild("Settings");

}

<div class="o-section o-section--grey">
	<div class="c-show o-wrap o-wrap--large">
		<span class="c-show__production-house">
			@Html.Raw(Html.Encode(CurrentPage.theatreCompany).Replace("\n", "<br />"))
		</span>	
		<p class="c-show__subtitle delta"><strong>@CurrentPage.subTitle</strong></p>
		<h1 class="c-show__title giga">@(CurrentPage.HasValue("title") ? CurrentPage.title : CurrentPage.Name)</h1>
		<p class="c-show__credits">
			@foreach( var credit in CurrentPage.credits )
			{
				<span class="c-show__credit">
					<strong class="t-upper">@credit.boldText</strong>
					<span>@credit.normalText</span>
				</span>

			}
			
		</p>
		@Html.Partial("Component/Show-Navigation")

		<div class="clearfix c-show__content">
			<div class="o-event__column o-event__column--copy">
				@CurrentPage.description
			</div>
			<div class="o-event__column o-event__column--gallery">
				<div class="o-event__gallery js-single__galery owl-carousel">
					@if( CurrentPage.HasValue("gallery") )
					{
						foreach( var id in CurrentPage.gallery.Split(',') )
						{
							var image = Umbraco.Media(id);
							var imageUrl = image.Url;
							<img src="@imageUrl?width=650&height=536&mode=crop" alt="@CurrentPage.Name"/>
						}
					}

				</div>
			</div>
		</div>
	</div>
</div>
@Html.Partial("Component/Show-Blocks")
@Html.Partial("Component/Tickets")



@section OpenGraph{
	@*

	For a custom page like Event, Product, Post add cards to make sharing better experience;

	<meta name="twitter:card" content="">
	<meta name="twitter:site" content="">
	<meta name="twitter:label1" content="">
	<meta name="twitter:data1" content="">
	<meta name="twitter:label2" content="">
	<meta name="twitter:data2" content="">

	*@
}

	
@section Scripts{

}