@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{ 
    var homePage = CurrentPage.Site(); 
    var settings = homePage.FirstChild("Settings");
}

<div class="c-sitemap">
    @TraversePage(homePage)

    <h2>Other</h2>
    @TraverseSelection( settings.footerLinks.Split(',') )
</div>


@* TRAVERSE PAGE *@
@helper TraversePage(dynamic page) {
    var maxLevelForSitemap = 4;
 
    var selection = page.Children
        .Where("Visible && Level <= " + maxLevelForSitemap + 
            " && TemplateId > 0 " +
            " && DocumentTypeAlias != \"Post\" "
    );

    @* If any items are returned, render a list *@
    if (selection.Any()) {
        <ul class="c-sitemap-level--@(selection.First().Level - 1)">
            @foreach (var item in selection) {
                <li class="c-sitemap__item">
                    <a href="@item.Url"  class="c-sitemap__link">@item.Name</a>
                    @TraversePage(item)
                </li>
            }
        </ul>
    }
}

@* TRAVERSE SELECTION *@
@helper TraverseSelection( dynamic selection ) {

    if (selection != null ) {
        <ul class="c-sitemap-level--2">
            @foreach (var id in selection) {
                var item = Umbraco.Content(id);

                <li class="c-sitemap__item">
                    <a href="@item.Url"  class="c-sitemap__link">@item.Name</a>
                </li>
            }
        </ul>
    }
}
