@using umbraco;
@helper RenderPaging(Paging paging, int currentId) {

	var year = ( Request.QueryString["year"] != null ? "&year=" + Request.QueryString["year"] : "");
	var month = ( Request.QueryString["month"] != null ? "&month=" + Request.QueryString["month"] : "");
var tags = ( Request.QueryString["tags"] != null ? "&tags=" + Request.QueryString["tags"] : "");


	if (paging.CurrentPage > 1) {
		<a href="@library.NiceUrl(currentId)?page=@paging.PreviousPage@year@month@tags" rel="prev" class="o-pagination__link o-pagination__link--prev"><i class="ico-arrow-left"></i> Previous</a>
	}

	for (var i = 1; i <= paging.TotalPages; i++) {
		if (paging.CurrentPage == i) {
			<span class="o-pagination__active">@i</span>
		}
		
		else {
			<a href="@library.NiceUrl(currentId)?page=@i@year@month@tags" class="o-pagination__page">@i</a>
		}
	}

	if (paging.CurrentPage < paging.TotalPages) {
		<a href="@library.NiceUrl(currentId)?page=@paging.NextPage@year@month@tags" rel="next" class="o-pagination__link o-pagination__link--next">Next <i class="ico-arrow-right"></i></a>
	}
}
